root {
  --bg-color: white;
  --text-color: black;
}

@media
 (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --text-color: white;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body{
    background-color: deeppink;
    display: flex;
    flex-direction: column;
}
.a{
    width: 100%;
}
.b{
    width: 100%;
}
img{
    width: 100%;
}
